/* header */
.headerdiv{
    width: 1220px;
    margin: 86px auto 62px auto;
    display: flex;
    align-items: center;
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1036px;
}
.ul-item{
    display: flex;
    justify-content: space-around;
    width: 601px;
}
.second{
    width: 184px;
    height: 65px;
    background-color: #6B77E5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* first section */
.banner{
    width: 100%;
    display: block;
}
.longdiv{
    margin-bottom: 128px;
}
.darkdiv{
    position: relative;
}
.textdiv{
    width: 682px;
    height: 168px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%) ;
    background-color: #fff;

}
