/* header */
.headerdiv{
    width: 1220px;
    margin: 86px auto 62px auto;
    display: flex;
    align-items: center;
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1036px;
}
.ul-item{
    display: flex;
    justify-content: space-around;
    width: 601px;
}
.second{
    width: 184px;
    height: 65px;
    background-color: #6B77E5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* first section */
.banner{
    width: 100%;
    height: 458px;
    display: block;
}
.longdiv{
    position: relative;
    margin-bottom: 128px;
    width: 100%;
    height: 458px;
}
.darkdiv{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 828px;
    height: 458px;
    /* display: none; */
}
.darkdiv:hover .longdiv{
    position: absolute;
    left: 0%;
    top: 0%;
    /* position: relative; */
    width: 828px;
    height: 458px;
    /* display: block; */
}
.textdiv{
    display: flex;
    flex-direction: column;
    width: 682px;
    height: 168px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ; 
    background-color: #fff;
}
/* second section */
.container{
    width: 1220px;
    height: 1726px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 151.5px;
}
.wraper1{
    width: 478px;
    height: 1534.85px;
    background-color: gold;
}
.wraper2{
    width: 692px;
    height: 1726px;
    background-color: palevioletred;
}
.services{
    width:478px ;
    height: 516.85px;
    padding: 56px 35px;
    margin-bottom: 50px;
    background-color:#F4F4F4;
    ;
}
.download{
    width: 478px;
    height: 412px;
    padding: 50px 45px;
    background-color:#F4F4F4;
    margin-bottom: 50px;
}
.mainblue{
    width: 478px;
    height: 506px;
    position: relative;
}
.blue{
    padding: 96px 50px;
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    flex-direction: column;
}
.contactus{
    width: 98px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    margin-bottom: 37px;
}
.right1{
    width: 692px;
    height: 192px;
}
.right2{
    width: 692px;
    height: 120px;
    margin-bottom: 40px;
}
.right3{
    width: 692px;
    height: 261.5px;
    margin-bottom: 50px;
    display: flex;
}
.right4{
    width: 692px;
    height: 105px;
    margin-bottom: 50px;
}
.after-image{
    width: 332px;
    height: 248px;
}
.faq{
    width: 692px;
    height: 380px;
    display: flex;
    
}
.faqdiv{
    width: 692px;
    height: 80px;
    border: 1px solid #E3E3E3;
    margin-bottom: 20px;
}
.faqdiv:nth-child(4){
    margin-bottom: 0;
}
/* footer section */
.footer{
    background-color: #37393F;
    height: 703px;
    width: 100%;
    padding-top: 86px;
    
}
.content{
    width: 1219px;
    height: 68px;
    background-color: aqua;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;

}
.cont1{
    width: 1219px;
    height: 68px;
    margin-bottom: 54px;
    display: flex;
}.contact{
    width: 834px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    margin-left: 185px;
}
.contactdiv{
    width: 226px;
    height: 68px;
    display: flex;
}
.circle{
    background-color: #4C4D52;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.line{
    color: #6C6D72;
    width: 1217px;;
    margin: 0 auto;
}
.details{
    width:1220.01px;
    height:243px;
    background-color: antiquewhite;
    margin: 50px auto;
}
.pages{
    width: 659.01px;
    height: 243px;
}
.pages1{
    width: 103px;
    height: 243px;
}